*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;

}

/* Body */
body{
    margin: 0px;
    padding: 0px;
}

/* Navbar */
nav{
    display: flex;
    justify-content: space-between;
    background-color: red;
    color: white;
    height: 50px;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
}

nav ul{
    display: flex;  
    width: 30%;
    list-style: none;
    justify-content: space-around;
    font-size: 16px;
}

nav ul li a{
    text-decoration: none;
}

a {
    color: black;
    text-decoration: none; /* no underline */
  }

.logo{
    padding-left: 30px;
    font-size: 20px;
}

/* Home */
section{
    padding-top: 3.2rem;
}

.text-center{
    text-align: center;
}

.home h1{
    font-size: 32px;
    margin: 25px 0;
}

.home h2{
    margin-bottom: 15px;
}

.quote{
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    margin: 17px;
}

.section-nav{
    font-size: 25px;
}

/* Image */
.image-container{
    max-width: 100%;
    text-align: center;
}

.para-text{
    text-align: center;
    padding: 0 80px;
    font-size: 17px;
    margin-top: 20px;
}

.para-text-li{
    text-align: justify;
    padding: 0 100px;
    font-size: 17px;
    line-height: 30px;
    margin-top: 20px;
}

/* Gallery */
.gallery-container{
    display: flex;
    justify-content: space-between;
    margin: 20px 30px;
    flex-wrap: wrap;
    gap: 40px;
}

.img-items{
    border: 2px solid rgb(201, 178, 178);
}

.img-items img{
    width: 28vw;
}

.caption{
    flex-direction: column;
    margin-top:10px;
    text-align: center;
    font-size: 14px;
}

/* Footer */
footer{
    margin-top: 5em;
}

.footer-bot{
    text-align: center;
    background-color: rgb(177, 39, 39);
    padding-top: 20px;
    height: 2.3em;
}
